/* Write your CSS code here */
@media screen and (max-width: 768px) {
  .Name {
    font-size: 14px;
    text-align: center;
  }
  .role {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  .Name {
    font-size: 20px;
    text-align: center;
  }
  .role {
    font-size: 14px;
  }
}
